<div class='row expand-column-wrapper'>
  <% weathers.each do |weather| %>
    <div class="row column large-3">
      <div> <%= weather.name %> </div>
      <div><img src="<%=weather.weather_icon%>"></div>
      <div class="expand-display"> <%= weather.description %> </div>
      <div> <%= weather.current_temp %> </div>
      <div> High: <%= weather.high_temp %> Low: <%= weather.low_temp %> </div>
    </div>
  <% end %>

</div>
