<!-- <div class='row expand-column-wrapper'>
  <% weathers.each do |weather| %>
    <div class="row column large-3">
      <div> <%= weather.name %> </div>
      <div><img src="<%=weather.weather_icon%>"></div>
      <div class="expand-display"> <%= weather.description %> </div>
      <div> <%= weather.current_temp %> </div>
      <div> High: <%= weather.high_temp %> Low: <%= weather.low_temp %> </div>
    </div>
  <% end %>

</div> -->


<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-2 medium-up-3">
  <% weathers.each do |weather| %>
    <div class="card">
      <div class="cell">
        <div class="card-divider text-center weather-name"> <%= weather.name %> </div>
        <div class="card-section text-center"><img src="<%=weather.weather_icon%>"></div>
        <div class="centered"> <%= weather.description %> </div>
        <div class="centered"> <%= weather.current_temp %> </div>
        <div class="centered"> High: <%= weather.high_temp %> Low: <%= weather.low_temp %> </div>
        <div class="centered end"> <%= weather.timestamp %> </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
