<div class='row expand-column-wrapper'>
  <% weathers.each do |weather| %>
    <div class="column">
      <!-- <div class="expand-column-content"> -->
        <tbody class="expand-column-content">
          <tr class="weather-name"> <%= weather.name %> </tr>
          <tr class="weather-icon"><img src="<%=weather.weather_icon%>"></tr>
          <tr> <%= weather.description %> </tr>
          <tr class='temp'> <%= weather.current_temp %> </tr>
          <tr> High: <%= weather.high_temp %> Low: <%= weather.low_temp %> </tr>
        <br>
      </tbody>
      <!-- </div> -->
    </div>
  <% end %>

</div>
