<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "#{current_user.email}'s Weather" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
        <%- if current_user -%>
          <li class="button float-right"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <p class="notice warning" data-closeable><%= notice %></p>
  <p class="notice warning" data-closeable><%= alert %></p>

  <body>

    <%= yield %>

  </body>
</html>
